<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 使用处理的类-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- 日志格式-->
            <pattern>
              %r  %d -%msg%n

            </pattern>

        </layout>

    </appender>
    <!--日志文件保存 配置-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--因为error日志级别高 所以使用LevelFilter过滤-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--如果匹配就禁止掉-->
            <onMatch>DENY</onMatch>
            <!--如果没有匹配接受-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>

            <pattern>
                %r   %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- l路径-->
            <fileNamePattern>/D://var/log/sell/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
   <!--只拦截error信息-->
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>

      </filter>
        <encoder>
            <pattern>
                %d -  %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- l路径-->
            <fileNamePattern>/D://var/log/sell/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <root level="info">
        <appender-ref ref="consoleLog"></appender-ref>
        <appender-ref ref="fileInfoLog"></appender-ref>
        <appender-ref ref="fileErrorLog"></appender-ref>

    </root>
</configuration>